# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Runner.xcworkspace

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
